<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p align="right">Airbnb Similar Listings</p>
            <p align="right">Ambar Soni (as2495) | Maggie Bi (yb89) | Liam Bui (lb598) | Laura Wade (ljw96) </p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <div class="titleandsearch">
            <h1>
                similairbnb
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="AirbnbURL" class="form-control" placeholder="Paste an Airbnb URL here" value="{{ listing_url }}">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </div>
        </form>

        <div class="form-inline global-search">
        {% if orig_listing %}
            <div class="original-listing">
            <h1>Listing Input</h1><br>
                <div class = "listing-container">
                    <div class = "listing-info">
                        <div class="listing-name">
                            <a href="{{ orig_listing.listing_url }}">
                                {{ orig_listing.name }}
                            </a>
                        </div>
                        <br>
                        <div class="listing-roomtype">Room Type: {{ orig_listing.room_type }} | </div>
                        <div class="listing-accom">Accommodates: {{ orig_listing.accommodates }} | </div>
                        <div class="listing-bedrooms">Bedrooms: {{ orig_listing.bedrooms }} | </div>
                        <div class="listing-price">Price per Night: {{ orig_listing.price }}</div>
                    </div>
                    <div class="listing-img-container">
                        <img src="{{ orig_listing.thumbnail_url }}" />
                    </div>
                    <div class="listing-text">
                        <div class = "listing-description">Description: {{ orig_listing.description}}</div>
                        <div class = "listing-summary">Summary: {{ orig_listing.summary }}</div>
                    </div>
                    <br>
                </div>
            </div>
            {% endif %}
            <div class="results-container">
            {% if output %}
            <h1>Search Results</h1><br>
            {% for listing in output %}
                <div class = "listing-container">
                    <div class = "listing-info">
                        <div class="listing-name">
                            <a href="{{ listing.listing_url }}">
                                {{ listing.name }}
                            </a>
                        </div>
                        <br>
                        <div class="listing-roomtype">Room Type: {{ listing.room_type }} | </div>
                        <div class="listing-accom">Accommodates: {{ listing.accommodates }} | </div>
                        <div class="listing-bedrooms">Bedrooms: {{ listing.bedrooms }} | </div>
                        <div class="listing-price">Price per Night: {{ listing.price }}</div>
                    </div>
                    <div class="listing-img-container">
                        <img src="{{ listing.thumbnail_url }}" />
                    </div>
                    <div class="listing-text">
                        <div class = "listing-description">Description: {{ listing.description}}</div>
                        <div class = "listing-summary">Summary: {{ listing.summary }}</div>
                    </div>
                    <br>
                </div>
            {% endfor %}
            {% endif %}
            </div><br>
            
            <!-- <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div> -->
        </div>
    </body>
</html>