<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="/static/script.js"></script>
        <script type="text/javascript"> 
            var orig_room_type = "{{orig_listing.room_type}}";
            var orig_accomm = '{{ orig_listing.accommodates }}';
            var orig_beds = '{{ orig_listing.bedrooms }}';
            var output = '{{ output }}';
        </script>
    </head>
    
    <body>

        {% load extras %}
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p align="right">Airbnb Similar Listings</p>
            <p align="right">Ambar Soni (as2495) | Maggie Bi (yb89) | Liam Bui (lb598) | Laura Wade (ljw96) </p>
        </div>

        <div class="toggle-button">
            <button></button>
        </div>
        <div class="version">
            <p align="left">Show similarities</p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <div class="titleandsearch">
            <h1>
                similairbnb
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="AirbnbURL" class="form-control" placeholder="Paste an Airbnb URL here" value="{{ listing_url }}">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </div>
        </form>

        <div class="form-inline global-search">
        {% if orig_listing %}
            <div class="original-listing">
            <h1>Listing Input</h1><br>
                <div class = "listing-container">
                    <div class = "listing-info">
                        <div class="listing-name">
                            <a href="{{ orig_listing.listing_url }}" target="_blank">
                                {{ orig_listing.name }}
                            </a>
                        </div>
                        <br>
                        <div class="quickinfo" id="listing-roomtype"><img id="roomtype_icon" class="icons"></img><p class='icon_labels'id='orig-roomtype'></p></div>
                        <div class="quickinfo" id="listing-accom"><img id="accom_icon" class="icons"></img><p class='icon_labels' id='orig-accom'></p></div>
                        <div class="quickinfo" id ="listing-bedrooms"><img id="bedroom_icon" class="icons"></img><p class='icon_labels' id='orig-bed'></p></div>
                        <div class="quickinfo" id="listing-price">${{ orig_listing.price }} per Night</div>
                    </div>
                    <br>
                    <div class="listing-img-container">
                        <img src="{{ orig_listing.thumbnail_url }}" />
                    </div>
                    <div class="listing-text">
                        <div class="listing-amenities">Amenities:<br>
                        {% for amen in orig_listing.amenities %}
                            {% if forloop.counter == orig_listing.amenities|length %}
                                <p>{{amen}} </p>
                            {% else %}
                                <p>{{amen}},</p>
                             {% endif %}
                        {% endfor %}
                        </div>
                        <div class = "listing-description">Description: <br>
                        {% autoescape off %}
                        {{ orig_listing.description|more }}
                        {% endautoescape %}</div>
                        <div class = "listing-summary">Space: <br>
                        {% autoescape off %}
                        {{ orig_listing.space|more }}
                        {% endautoescape %}
                        </div>

                    </div>
                    <br>
                </div>
            </div>
            {% endif %}
            <div class="results-container">
            {% if output %}
            <h1>Search Results</h1><br>
            {% for listing in output %}
                <div class = "listing-container">
                    
                    
                    <div class = "listing-info">
                        <div class="listing-name">
                            <a href="{{ listing.listing_url }}" target="_blank">
                                {{ listing.name }}
                            </a>
                        </div>
                        <br>
                        {% if listing.room_type == 'Entire home/apt' %}
                            <div class = "quickinfo"><img src = "/static/entirehome.png" class="icons"></img><p class="icon_labels">Entire Home/Apt</p></div><div class = "quickinfo"><img src = "/static/accommodates.png" class="icons"></img><p class="icon_labels">Accommodates: {{listing.accommodates}}</p></div><div class = "quickinfo"><img src = "/static/bedrooms.png" class="icons"></img><p class="icon_labels">Bedrooms: {{listing.bedrooms}}</p></div>
                        {% elif listing.room_type == 'Private room' %}
                            <div class = "quickinfo"><img src = "/static/private.png" class="icons"></img><p class="icon_labels">Private Room</p></div><div class = "quickinfo"><img src = "/static/accommodates.png" class="icons"></img><p class="icon_labels">Accommodates: {{listing.accommodates}}</p></div><div class = "quickinfo"><img src = "/static/bedrooms.png" class="icons"></img><p class="icon_labels">Bedrooms: {{listing.bedrooms}}</p></div>
                        {% else %}
                            <div class = "quickinfo"><img src = "/static/shared.png" class="icons"></img><p class="icon_labels">Shared Room</p></div><div class = "quickinfo"><img src = "/static/accommodates.png" class="icons"></img><p class="icon_labels">Accommodates: {{listing.accommodates}}</p></div><div class = "quickinfo"><img src = "/static/bedrooms.png" class="icons"></img><p class="icon_labels">Bedrooms: {{listing.bedrooms}}</p></div>
                        {% endif %}
                        <div class="quickinfo">{{ listing.price }} per Night</div>
                    </div>
                    <div class="listing-img-container">
                        <div class ="listing-score">Similarity Score
                            <div class="meter">
                                <span style="width: {{listing.sim_score}}%">{{listing.sim_score_rounded}}%</span>
                            </div>
                        </div>
                        <img src="{{ listing.thumbnail_url }}" />
                    </div>
                    <div class="listing-text">
                        <div class="listing-amenities">Amenities: <br>{{listing.amenities}}
                        </div>
                        <div class = "listing-description">Description: <br>
                            {% autoescape off %}
                            {{ listing.description|to_highlight:listing.similar_words }}
                            {% endautoescape %}
                        </div>
                        <div class = "listing-summary">Space: <br>
                            {% autoescape off %}
                            {{ listing.space|to_highlight:listing.similar_words }}
                            {% endautoescape %}
                            </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
            {% endif %}
            <span class="newItems" id="newItems"></span><br>
            </div><br>
            
            <!-- <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div> -->
        </div>
    </body>
</html>